<h1>Bem-vindo à Administração</h1>
<p>Aqui você pode gerenciar o sistema Carvalho Auto Center.</p>
<div class="row">
  <div class="col-md-4">
    <%= link_to 'Gerenciar Usuários', admin_users_path, class: 'btn btn-primary' %>
  </div>
</div>
