<!-- About Start -->
<div class="container ">
  <h2 class="text-center mb-4">Sobre nós</h2>
  <div class="row g-5">
    <div class="col-lg-6 pt-4" style="min-height: 400px;">
      <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
        <%= image_tag "CarvalhoC.png", class: "position-absolute img-fluid w-100 h-100", style: "object-fit: cover;", alt: "" %>
        <div class="position-absolute top-0 end-0 mt-n4 me-n4 py-4 px-5" style="background: rgba(0, 0, 0, .08);">
          <h1 class="display-4 text-white mb-0">15 <span class="fs-4">Anos</span></h1>
          <h4 class="text-white">Experiência</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <h6 class="text-primary text-uppercase">// Sobre Nós  //</h6>
      <h1 class="mb-4"><span class="text-primary">Carvalho  Center</span> É o melhor lugar para o seu cuidado automotivo
      </h1>
      <p class="mb-4">O melhor serviço de manunteção de rodas do Estado de Rondônia há 15 anos no mercado!</p>
      <div class="row g-4 mb-3 pb-3">
        <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
          <div class="d-flex">
            <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
              <span class="fw-bold text-secondary">01</span>
            </div>
            <div class="ps-3">
              <h6>Profissional e Especialista</h6>
              <span>Com anos de experiência e conhecimento profundo, garantimos um atendimento de qualidade, focado em soluções rápidas e eficazes para todos os tipos de manutenção de rodas</span>
            </div>
          </div>
        </div>
        <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
          <div class="d-flex">
            <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
              <span class="fw-bold text-secondary">02</span>
            </div>
            <div class="ps-3">
              <h6>Centro de Atendimento de Qualidade</h6>
              <span>No Carvalho  Center, prezamos pela excelência no serviço prestado. Nosso centro de serviços é equipado com ferramentas modernas e uma estrutura voltada para oferecer o melhor atendimento e manutenção de alta qualidade</span>
            </div>
          </div>
        </div>
        <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
          <div class="d-flex">
            <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1" style="width: 45px; height: 45px;">
              <span class="fw-bold text-secondary">03</span>
            </div>
            <div class="ps-3">
              <h6>Trabalhadores Vencedores</h6>
              <span>Nossa equipe já foi premiada em diversas competições do setor automotivo, destacando-se pela dedicação e maestria no trabalho.</span>
            </div>
          </div>
        </div>
      </div>
      <a href="" class="btn btn-primary py-3 px-5">Leia Mais<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
  </div>
</div>
<!-- About End -->
<!-- Fact Start -->
<div class="container-fluid fact  my-3 py-5" style="background-color: 0B2154;">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
        <i class="fa fa-check fa-2x text-white mb-3"></i>
        <h2 class="text-white mb-2" data-toggle="counter-up">15</h2>
        <p class="text-white mb-0">Anos de Experiência</p>
      </div>
      <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
        <i class="fa fa-users-cog fa-2x text-white mb-3"></i>
        <h2 class="text-white mb-2" data-toggle="counter-up">8</h2>
        <p class="text-white mb-0">Profissionais de Competência</p>
      </div>
      <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
        <i class="fa fa-users fa-2x text-white mb-3"></i>
        <h2 class="text-white mb-2" data-toggle="counter-up">70</h2>
        <p class="text-white mb-0">Clientes Satisfeitos</p>
      </div>
      <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
        <i class="fa fa-car fa-2x text-white mb-3"></i>
        <h2 class="text-white mb-2" data-toggle="counter-up">8</h2>
        <p class="text-white mb-0">Projetos Extendidos</p>
      </div>
    </div>
  </div>
</div>
<!-- Fact End -->
