<!-- Booking Start -->
<div class="container-fluid bg-secondary booking my-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="row gx-5">
      <div class="col-lg-6 py-5">
        <div class="py-5">
          <h1 class="text-white mb-4">Nós nos orgulhamos de ser um provedor certificado e premiado de serviços de reparo automotivo.</h1>
          <p class="text-white mb-0">Com nossa equipe de especialistas, oferecemos soluções completas para manutenção de veículos. Atendemos com seriedade e excelência, garantindo que cada serviço seja executado com qualidade. Nossa missão é fornecer um atendimento confiável e eficiente, com anos de experiência no setor automotivo.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="bg-primary h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn" data-wow-delay="0.6s">
          <h1 class="text-white mb-4">Agende um Serviço</h1>
          <form>
            <div class="row g-3">
              <div class="col-12 col-sm-6">
                <input type="text" class="form-control border-0" placeholder="Seu Nome" style="height: 55px;">
              </div>
              <div class="col-12 col-sm-6">
                <input type="email" class="form-control border-0" placeholder="Seu Email" style="height: 55px;">
              </div>
              <div class="col-12 col-sm-6">
                <select class="form-select border-0" style="height: 55px;">
                  <option selected>Selecione um Serviço</option>
                  <option value="1">Manutenção</option>
                  <option value="2">Troca de Rodas</option>
                  <option value="3">Retirada de Rodas</option>
                </select>
              </div>
              <div class="col-12 col-sm-6">
                <div class="date" id="date1" data-target-input="nearest">
                  <input type="text" class="form-control border-0 datetimepicker-input" placeholder="Data do Serviço" data-target="#date1" data-toggle="datetimepicker" style="height: 55px;">
                </div>
              </div>
              <div class="col-12">
                <textarea class="form-control border-0" placeholder="Pedido Especial"></textarea>
              </div>
              <div class="col-12">
                <a href="https://wa.me/556992913010" class="btn btn-secondary py-3 px-lg-4 d-none d-lg-block" target="_blank" rel="noopener noreferrer">Reserve Agora</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Booking End -->
