<div class="container py-5">
  <h2 class="text-center mb-4">Our Services</h2>
  <div class="row">
    <div class="col-md-4">
      <h4>Diagnostic Test</h4>
      <p>Description of the diagnostic test service.</p>
    </div>
    <div class="col-md-4">
      <h4>Engine Servicing</h4>
      <p>Description of the engine servicing.</p>
    </div>
    <div class="col-md-4">
      <h4>Tires Replacement</h4>
      <p>Description of the tires replacement service.</p>
    </div>
  </div>
</div>
