@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


:root {
    --primary: #8f0511 !important;
    --secondary: #0B2154;
    --light: #F2F2F2;
    --dark: #111111;
}

.wow {
    animation-duration: 5s;
    /* Aumente o tempo para 2 segundos */
}



body {
    background-color: #161616;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

.fw-medium {
    font-weight: 600 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Button ***/
.btn-outline-primary {
    border-color: #ffffff;
    color: #ffffff;
}

.btn-outline-primary:hover {
    background-color: #161616;
    color: #ffffff;
}

.btn-outline-light {
    border-color: #ffffff;
    color: #ffffff;
}

.btn-outline-light:hover {
    background-color: #ffffff;
    color: #000000;
}

.btn-success {
    background-color: #25d366;
    color: #ffffff;
    border: none;
}

.btn-success:hover {
    background-color: #20c159;
}

.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
/* Altura maior para desktops */
@media (min-width: 992px) {
    .navbar {
        height: 80px;
        /* Altura maior para desktops */
    }

    .navbar .nav-link {
        padding: 20px;
        /* Ajusta o padding para equilibrar */
        font-size: 18px;
        /* Aumenta a legibilidade */
    }
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;
}

.icone-adm {
    font-size: 18px;
    color: #e0e0e0;
    margin-left: 5px;
    cursor: pointer;
    transition: color 0.3s;
}

.icone-adm:hover {
    color: #e0e0e0;
}

.navbar {
    background-color: #1e1e1e;
    color: #fff;
}

.navbar .nav-link {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 19px;
    padding: 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: #f8c151;
    transform: scale(1.05);
}



.navbar .dropdown-menu {
    background-color: #1e1e1e;
}

.navbar .dropdown-item:hover {
    background-color: #f8c151;
    color: #1e1e1e;
}

.navbar .navbar-brand {
    font-size: 20px;
}

.navbar-toggler-icon {
    background-color: transparent;
}

.navbar-toggler {
    background-color: #1e1e1e;
}

.navbar .dropdown-menu {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
}

.navbar .dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.navbar .dropdown-item:hover {
    background-color: #f8c151;
    color: #1e1e1e;
}

/*** Sobre ***/
.about-section {
    overflow-x: hidden;
}

.about-section .about-img {
    border-radius: 0.768rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about-section .about-overlay {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.08);
    padding: 1rem 2rem;
}

.feature-item {
    align-items: center;
}

.feature-icon {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}



/*** Service ***/
.service .nav .nav-link {
    background: var(--light);
    transition: .5s;
}

.service .nav .nav-link.active {
    background: var(--primary);
}

.service .nav .nav-link.active h4 {
    color: #FFFFFF !important;
}

.roda-card {
    color: #fff;
    border-radius: 10px;
}

.roda-image-wrapper {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.roda-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--light);
    color: #888;
}

.card-body {
    padding: 1rem;
}

.text-center {
    text-align: center;
}

.fw-bold {
    font-weight: 700 !important;
}

.fs-4 {
    font-size: 1.25rem !important;
}

.btn-sm {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.table-responsive {
    overflow-x: auto;
}

/*** Booking ***/

.booking-section .form-control {
    height: 55px;
    border: none;
}

.booking-form-container .form-select,
.booking-form-container .datetimepicker-input {
    height: 55px;
}



/*** Footer ***/
.footer {
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9));
    background-size: cover;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}




a,
a:hover {
    text-decoration: none;
    color: inherit;
}


/* services.html.erb */
#view-produtos .btn-custom {
    height: 40px;
    width: 100px;
    margin-top: 10px;
}

#view-produtos .form-control-sm {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
}

#view-produtos .mt-2 {
    margin-top: 0.5rem;
}

#view-produtos .mb-4 {
    margin-bottom: 2rem;
}

#view-produtos .mb-2 {
    margin-bottom: 0.5rem;
}

#view-produtos .g-4 {
    gap: 1.5rem;
}

#view-produtos .w-100 {
    width: 100%;
}


.bg-dark-premium {
    background-color: #1f1f1f;
}



.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.btn-primary {
    background-color: #D81324;
    border: none;
}

.btn-primary:hover {
    background-color: #000000;
}

.filter-form .form-select,
.filter-form .form-control {
    background-color: #2b2b2b;
    color: #ffffff;
    border: 1px solid #444444;
}


.form-select:focus,
.form-control:focus {
    border-color: #000000;
}

.modal-header {
    border-bottom: none;
}

.modal-content {
    transition: transform 0.3s ease-in-out;
}

.modal-content:hover {
    transform: translateY(-5px);
}



.bi {
    font-size: 1.2rem;
}

/*footer */

footer {
    margin-top: auto;
}